.header {
    background-color: #f3f3f3; /* Use your desired background color */
    padding: 20px;
    text-align: center;
    color: #333; /* Use your desired text color */
    font-size: 24px; /* Use your desired font size */
    font-weight: bold;
  }
  